<div class="footer">
    <div class="table">
        <br>
        <ul id="horizontal-list">        
            <li>
                <a style="padding: 10px" href="{{ site.github_link }}" >
                    <img alt="github" src="{{site.baseurl}}/{{site.github_location}}"
                    >
                </a>
            </li>
            <li>
                <a style="padding: 10px" href="{{ site.linkedin_link }}" >
                    <img alt="linkedin" src="{{site.baseurl}}/{{site.linkedin_location}}"
                    >
                </a>
            </li>
            <li> 
                <a style="padding: 10px" href="{{ site.facebook_link }}" >
                    <img alt="facebook" src="{{site.baseurl}}/{{site.facebook_location}}"
                    >
                </a>
            </li>
            <li>
                <a style="padding: 10px" href="{{ site.email_link }}" >
                    <img alt="email" src="{{site.baseurl}}/{{site.email_location}}"
                    >
                </a>
            </li>
        </ul>
        <br>
    </div>
</div>
